.result-container {
    font-size: 14px;
    margin: 2rem;
    height: 80%;
    overflow-y: auto;
}

.result-container h1 {
    color: #797979;
    font-size: 1.3rem;
    padding-bottom: 0.6rem;
}

.result-container table {
    text-align: left;
}

.result-container th, td {
    padding: 0.2rem 0.8rem;
}

.result-modal-close-btn {
    color: #919191;
    font-weight: bold;
    float: right;
    font-size: 1.4rem;
    line-height: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
}
  
.result-modal-close-btn:hover {
    color: black;
}
