.app {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.map-container {
  width: 80%;
  overflow: None;
  float: left;
}

.mapMarkerStyle {
  background-color: rgb(255, 0, 191);
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  left: -.75rem;
  top: -1.5rem;
  position: relative;
  border-radius: 1.5rem 1.5rem 0;
  transform: rotate(45deg);
  border: 1px solid rgb(0, 0, 0);
}

.mapBox {
  grid-column: span 3;
  overflow: hidden;
}

.panelBox {
  grid-column: span 1;
}